body {
  font-family: 'Montserrat', 'Merriweather';
  background-color: #000000;
}

.container {
  height: 100vh;
  padding: 50px;
}

.header {
  text-align: center;
}

.header h1 {
  color: #fca311;
  font-size: 35px;
}



.searchbar-section {
  text-align: center;
}

.match-list-item {
  margin: 20px auto;
  width: 70%;
  text-align: left;
}

h2 {
  color: gray;
  font-size: 20px;
  text-transform: uppercase;
  margin: 10px 0px 0px;
}

p {
  color: white;
  font-size: 10px;
}